BODY
{
	MARGIN: 0PX;
	BACKGROUND-COLOR: #FFFFFF;
	FONT-FAMILY: VERDANA,ARIAL,SANS-SERIF;
	FONT-SIZE: 8PT;
	COLOR: #000000;

    SCROLLBAR-FACE-COLOR: #FFFFFF;
	SCROLLBAR-SHADOW-COLOR: #CCCCCC;
	SCROLLBAR-HIGHLIGHT-COLOR: #CCCCCC;
	SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
	SCROLLBAR-DARKSHADOW-COLOR: #CCCCCC;
	SCROLLBAR-TRACK-COLOR: #CCCCCC;
	SCROLLBAR-ARROW-COLOR: #999999
}

A:LINK 
{
	COLOR : #333333;
	TEXT-DECORATION: NONE;
	FONT-SIZE: 8PT;
}
A:VISITED 
{
	COLOR : #333333;
	TEXT-DECORATION: NONE;
	FONT-SIZE: 8PT;
}
A:ACTIVE
{
	COLOR : #333333;
	TEXT-DECORATION: NONE;
	FONT-SIZE: 8PT;
}
A:HOVER 
{
	COLOR : #333333;
	TEXT-DECORATION: UNDERLINE;
	FONT-SIZE: 8PT;
}
A.URL:LINK 
{
	COLOR : #333333;
	TEXT-DECORATION: UNDERLINE;
}
A.URL:VISITED 
{
	COLOR : #333333;
	TEXT-DECORATION: UNDERLINE;
}
A.URL:ACTIVE
{
	COLOR : #333333;
	TEXT-DECORATION: UNDERLINE;
}
A.URL:HOVER 
{
	COLOR : #333333;
	TEXT-DECORATION: UNDERLINE;
}

.tblbox {
	PADDING:10PX;
	MARGIN:10PX;
	BORDER: 1px #BBBBBB SOLID; 
}

/*Input control styles starts*/

.button{
	BORDER-RIGHT: #BBBBBB 1PX SOLID; 
	BORDER-TOP: #BBBBBB 1PX SOLID; 
	BORDER-LEFT: #BBBBBB 1PX SOLID; 
	BORDER-BOTTOM: #BBBBBB 1PX SOLID;
}
.inputbox {
	BORDER-RIGHT: #BBBBBB 1PX SOLID; 
	BORDER-TOP: #BBBBBB 1PX SOLID;
	BORDER-LEFT: #BBBBBB 1PX SOLID;
	BORDER-BOTTOM: #BBBBBB 1PX SOLID;
}
.selectbox{ 
HEIGHT:18PX;
COLOR:#000000;
FONT-WEIGHT:NORMAL;
FONT-SIZE:9PX;
BORDER:1PX SOLID #BBBBBB;
BACKGROUND:#FFFFFF
}

/*Input control styles ends*/